name: Check Data Quality

# Controls when the action will run.
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  checkDQ:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository content
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Set up Python 3.x
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Run Pytest
        run: python -m pytest
